In [1]:
# Importing the Dependancies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [3]:
# First 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
# Last 5 rows of the dataset
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
13949  24754  1.252924 -0.182189 -0.802716  ... -0.051402  0.005112   23.74    0.0
13950  24756 -0.346979 -2.103284 -0.685061  ... -0.149931  0.129795  794.20    0.0
13951  24759 -6.053652 -5.988723  0.810413  ... -0.700463  2.508443   60.00    0.0
13952  24759  1.169121 -1.284945  0.032717  ...  0.015029  0.032067   90.00    0.0
13953  24759 -6.917152  5.854171 -1.652458  ...  1.071374 -0.168831     NaN    NaN

[5 rows x 31 columns]

In [5]:
# Dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13954 entries, 0 to 13953
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    13954 non-null  int64
 1   V1      13954 non-null  float64
 2   V2      13954 non-null  float64
 3   V3      13954 non-null  float64
 4   V4      13954 non-null  float64
 5   V5      13954 non-null  float64
 6   V6      13954 non-null  float64
 7   V7      13954 non-null  float64
 8   V8      13954 non-null  float64
 9   V9      13954 non-null  float64
 10  V10     13954 non-null  float64
 11  V11     13954 non-null  float64
 12  V12     13954 non-null  float64
 13  V13     13954 non-null  float64
 14  V14     13954 non-null  float64
 15  V15     13954 non-null  float64
 16  V16     13954 non-null  float64
 17  V17     13954 non-null  float64
 18  V18     13954 non-null  float64
 19  V19     13954 non-null  float64
 20  V20     13954 non-null  float64
 21  V21     13954 non-null  float64
 22  V22     13954 non-null  float64
 23  V23     13954 non-null  float64
 24  V24     13954 non-null  float64
 25  V25     13954 non-null  float64
 26  V26     13954 non-null  float64
 27  V27     13954 non-null  float64
 28  V28     13954 non-null  float64
 29  Amount  13953 non-null  float64
 30  Class   13953 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 3.3 MB

In [6]:
# Checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    1
Class     1
dtype: int64

In [7]:
# Distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    13897
1.0       56
Name: Class, dtype: int64

Highly unbalanced Dataset. 

0 -> Normal Transaction

1 -> Fraudulent Transaction

In [8]:
# Separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(13897, 31)
(56, 31)

In [10]:
# Statistical measures of the data
legit.Amount.describe()

count    13897.000000
mean        63.773909
std        177.164503
min          0.000000
25%          5.770000
50%         15.900000
75%         52.370000
max       7712.430000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count      56.000000
mean       90.815893
std       310.308450
min         0.000000
25%         1.000000
50%         1.000000
75%         1.025000
max      1809.680000
Name: Amount, dtype: float64

In [12]:
# Compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    10111.481255 -0.217093  0.266252  ...  0.009565  0.002329  63.773909
1.0    12262.107143 -4.727948  4.660436  ...  0.793484 -0.046177  90.815893

[2 rows x 30 columns]

**Under-Sampling**

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions.

(Number of Fraudulent Transactions --> 492)

In [13]:
legit_sample = legit.sample(n=492)

In [14]:
# Concatenating two DataFrames
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [15]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
4772    4236  1.027865 -0.587323  1.026343  ... -0.090786  0.009269  100.00    0.0
12282  21458 -5.680727  4.826794 -0.845276  ...  2.091732  1.007072    3.84    0.0
1941    1498  1.334435 -1.320772  0.476922  ...  0.026142  0.034638   96.82    0.0
13462  23805  1.285560  0.038325  0.079245  ... -0.132701 -0.030124    2.00    0.0
6667    8244  1.448056 -0.186388 -0.525712  ... -0.043339 -0.016385    1.00    0.0

[5 rows x 31 columns]

In [16]:
new_dataset.tail()

        Time         V1         V2  ...       V28  Amount  Class
11880  20451 -15.819179   8.775997  ... -1.411945     1.0    1.0
12070  20931 -16.367923   9.223692  ... -1.416741     1.0    1.0
12108  21046 -16.917468   9.669900  ... -1.421243     1.0    1.0
12261  21419 -17.467710  10.114816  ... -1.425491     1.0    1.0
12369  21662 -18.018561  10.558600  ... -1.429517     1.0    1.0

[5 rows x 31 columns]

In [17]:
new_dataset['Class'].value_counts()

0.0    492
1.0     56
Name: Class, dtype: int64

In [18]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    10054.790650 -0.150329  0.314352  ...  0.014507 -0.000416  53.662297
1.0    12262.107143 -4.727948  4.660436  ...  0.793484 -0.046177  90.815893

[2 rows x 30 columns]

In [19]:
# Splitting the data into Features & Targets
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [20]:
print(X)

        Time         V1         V2  ...       V27       V28  Amount
4772    4236   1.027865  -0.587323  ... -0.090786  0.009269  100.00
12282  21458  -5.680727   4.826794  ...  2.091732  1.007072    3.84
1941    1498   1.334435  -1.320772  ...  0.026142  0.034638   96.82
13462  23805   1.285560   0.038325  ... -0.132701 -0.030124    2.00
6667    8244   1.448056  -0.186388  ... -0.043339 -0.016385    1.00
...      ...        ...        ...  ...       ...       ...     ...
11880  20451 -15.819179   8.775997  ...  2.136424 -1.411945    1.00
12070  20931 -16.367923   9.223692  ...  2.122796 -1.416741    1.00
12108  21046 -16.917468   9.669900  ...  2.108471 -1.421243    1.00
12261  21419 -17.467710  10.114816  ...  2.093541 -1.425491    1.00
12369  21662 -18.018561  10.558600  ...  2.078081 -1.429517    1.00

[548 rows x 30 columns]

In [21]:
print(Y)

4772     0.0
12282    0.0
1941     0.0
13462    0.0
6667     0.0
        ...
11880    1.0
12070    1.0
12108    1.0
12261    1.0
12369    1.0
Name: Class, Length: 548, dtype: float64

In [22]:
# Split the data into Training data & Testing Data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=100)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(548, 30) (438, 30) (110, 30)

**Model Training** => *Logistic Regression*

In [24]:
model = LogisticRegression()

In [25]:
# Training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

**Model Evaluation** => *Accuracy Score*

In [26]:
# Accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [27]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9954337899543378

In [28]:
# Accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [29]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9636363636363636